In [16]:
#import dependencies
import pandas as pd
import numpy as np
from pymongo import MongoClient
import json

In [17]:
# Connect to MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['project3']
collection = db['tempdata']

In [18]:

# Fetch data from MongoDB
data = collection.find()

# Convert data to a format that can be used in JavaScript
formatted_data = []
for item in data:
    formatted_data.append({
        'state': item['location'],
        'precip': item['precipMM'],
        'max_temp': item['maxtempC'],
        'min_temp': item['mintempC'],
        'wind_speed': item['windspeedKmph'],
        'date': item['date_time']
    })

In [20]:
#convert to panda dataframe
df = pd.DataFrame(formatted_data)
df.head()

     state  precip  max_temp  min_temp  wind_speed        date
0  alabama     2.8        -7       -12          29  2010-01-02
1  alabama     0.0        -4        -7          23  2010-01-06
2  alabama     2.4        -7        -9          20  2010-01-04
3  alabama     0.0         2        -1          21  2010-01-15
4  alabama     2.2         1        -6          23  2010-01-01

In [21]:
#convert date to year only
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].dt.year
df.head()

     state  precip  max_temp  min_temp  wind_speed  date
0  alabama     2.8        -7       -12          29  2010
1  alabama     0.0        -4        -7          23  2010
2  alabama     2.4        -7        -9          20  2010
3  alabama     0.0         2        -1          21  2010
4  alabama     2.2         1        -6          23  2010

#get the averages for each state and year

In [22]:
#get the averages for each state and year
df = df.groupby(['state','date']).mean()
df.head()

                precip   max_temp  min_temp  wind_speed
state   date
alabama 2010  2.865753  12.597260  6.221918   15.852055
        2011  3.785205  12.254795  5.950685   15.698630
        2012  2.742896  13.729508  7.215847   15.639344
        2013  3.286575  11.915068  5.386301   16.268493
        2014  3.109589  11.084932  4.328767   16.342466

In [24]:
#round to the nearest hundredth
df = df.round(2)
df.head()

              precip  max_temp  min_temp  wind_speed
state   date
alabama 2010    2.87     12.60      6.22       15.85
        2011    3.79     12.25      5.95       15.70
        2012    2.74     13.73      7.22       15.64
        2013    3.29     11.92      5.39       16.27
        2014    3.11     11.08      4.33       16.34

In [25]:
#export to csv called Averages.csv 
df.to_csv('Averages.csv')